# Server
PORT=3000

# Database (PostgreSQL)
DATABASE_URL="postgresql://postgres:logiflow_dev@localhost:5432/logiflow_gateway?schema=public"

# Future: Redis
# REDIS_HOST=localhost
# REDIS_PORT=6379

# gRPC Optimizer
GRPC_OPTIMIZER_HOST=localhost
GRPC_OPTIMIZER_PORT=50051
GRPC_OPTIMIZER_PROTO_PATH=../../shared/proto/optimizer.proto

# Socket.io Server
SOCKETIO_SERVER_HOST=localhost
SOCKETIO_SERVER_PORT=3001
